@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default text color for the entire app */
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    @apply text-neutral;
  }
    @keyframes leftMove {
      0% { transform: translateY(0); }
      50% { transform: translateY(-5px); }
      100% { transform: translateY(0); }
    }
  
    @keyframes rightMove {
      0% { transform: translateY(0); }
      50% { transform: translateY(5px); }
      100% { transform: translateY(0); }
    }
  
    .animate-left {
      animation: leftMove 2s infinite ease-in-out;
    }
  
    .animate-right {
      animation: rightMove 2s infinite ease-in-out;
    }
  
}